[Unit]
Description=VectorCore LCS
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/vectorcore
ExecStart=/opt/vectorcore/bin/lcs -c /opt/vectorcore/etc/lcs.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
